.row {
    display: flex;
    
}

.col-2 {
    flex: 3;
    padding: 20px;
    margin: 10px;
    background-color: powderblue;
}

.col {
    flex: 2;
    background-color: lightgreen;
    padding: 20px;
    margin: 10px;
}

